/* Barra de navegacion */
body{
  background-color: #ffffff;
}
#footer{
  background-color: #1b0088;
  color:#ffffff;
}

.navbar {
    padding: 2rem;
    background-color: #1b0088; /*color de fondo*/
    color: #ffffff;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;  
    color: #ffffff;
  }
/* Estilos generales */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  {
  padding: 2rem;
  background-color: #1b0088; /*color de fondo*/
}

  /* Adaptable (Responsivo) */

  /*oculta el logo en disposiivo movil*/
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }